# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@localhost:33080/caffe-map-dev-db"
SHADOW_DATABASE_URL="mysql://user:password@localhost:33082/caffe-map-shadow-dev-db"

# development | production | staging | test
APP_ENV=development

# KNEX 관련 개발 환경 변수
KNEX_DB_HOST: localhost
KNEX_DB_PORT: 33080
KNEX_DB_USER: user
KNEX_DB_PASSWORD: password
KNEX_DB_NAME: caffe-map-dev-db